@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px 0 10px;
  }
  nav a {
    font-size: .9rem;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  section {
    margin-bottom: 80px;
  }
  .section-title {
    font-size: 1.55rem;
    margin-bottom: 40px;
  }
}
